<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/list.css">
    <title>Date to do site</title>
</head>
<body>
    <div class="container">
    <h1 class="date"><%= listtitle %></h1>
    
    <div class="box">
    <h2>To-do list :</h2>    
    <ul>
       <% for(var i=0; i<newItem.length; i++){ %>
        <form class="form" action="/delete" method="post">
            <input type="checkbox" name="checkbox" value="<%= newItem[i]._id %>" onChange="this.form.submit()"><li><%= newItem[i].name %></li>
            <input type="hidden" name="list" value="<%= listtitle %>">
        </form>    
        <% } %>
    </ul>
    <form action="/" method="post">
        <input type="text" name="todo" autocomplete="off" placeholder="Add New Item">
        <button id="btn" name="list" value="<%= listtitle %>" type="submit">+</button>
    </form>
    </div>
    <form action="/listbtn" method="post" class="addlist">
        <input type="text" id="listname" name="listname" placeholder="List Name" required>
        <button id="listbtn">ADD NEW LIST</button>
    </form>
    </div>
</body>
</html>